.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-top: 3vh;
    border: none;
    margin-bottom: 3vh;
    background-color: rgb(31,31,31);
}
.card img {
    width:100%;
    height: auto;
    border-radius: 10px;
   
}
.card span {
    padding-left: .5rem;
    font-size: 1.5rem;
}
.card a {
    border-radius: 10px;
}
